
ARpoise.apk
AndroidArpoiseU2018_3.sln
Library
Logs
user.keystore
CVS
*/CVS
*/*/CVS
CVS
Packages
Vuforia
AndroidArpoiseU2018_4.sln
Assembly-CSharp.csproj
.vsconfig
.cvsignore
*.meta
.vs/AndroidArpoiseU2018_4/v16/.suo
obj/Debug/Assembly-CSharp.csproj.AssemblyReference.cache
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/VuforiaEditorScripts.csproj.AssemblyReference.cache
obj/Debug/VuforiaScripts.csproj.AssemblyReference.cache
